# Ignore idea folder
.idea

# Variables de entorno
infra/.env
backend/cars-prediction-api/.env

# Credenciales Cuenta de Servicio
infra/cloud-tfm.json

.DS_Store

.terraform*
terraform*

node_modules
dist
package-lock.json